@{
    ViewData["Title"] = "Home Page";
    if ((string)ViewData["TypeOfUser"] == "Front Office Staff")
    {
        Layout = "~/Views/Shared/_fostaffLayout.cshtml";
    }
    else if ((string)ViewData["TypeOfUser"] == "Station Manager")
    {
        Layout = "~/Views/Shared/_smanagerLayout.cshtml";
    }
    else if ((string)ViewData["TypeOfUser"] == "Admin Manager")
    {
        Layout = "~/Views/Shared/_amanagerLayout.cshtml";
    }
    else if ((string)ViewData["TypeOfUser"] == "Delivery Man")
    {
        Layout = "~/Views/Shared/_dmanLayout.cshtml";
    }
    else if ((string)ViewData["TypeOfUser"] == "Member")
    {
        Layout = "~/Views/Shared/_memberLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_memberLayout.cshtml";
    }
}

<!-- Hero Section - Home Page -->
<section id="hero" class="hero">
    <div class="mySlides fade">
        <img src="~/img/pexels-ketut-subiyanto-4246120.jpg" alt="" data-aos="fade-in">
    </div>
    <div class="mySlides fade">
        <img src="~/img/pexels-karolina-grabowska-4498136.jpg" alt="" data-aos="fade-in">
    </div>
    <div class="mySlides fade">
        <img src="~/img/pexels-mister-mister-3434533.jpg" alt="" data-aos="fade-in">
    </div>
    

    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <h2 data-aos="fade-up" data-aos-delay="100">Welcome @ViewData["TypeOfUser"]!</h2>
                <p data-aos="fade-up" data-aos-delay="200">Hello there, @ViewData["uid"]. Thank you for working with NPCS!</p>
            </div>
        </div>
    </div>

</section><!-- End Hero Section -->