@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @foreach (Staff s in ViewData["StaffTest"] as List<Staff>)
    {
        <p>Staff ID: @s.StaffID</p>
        <p>Staff Name: @s.StaffName</p>
        <br />
    }
</div>
