@model NPParcelDeliveryServiceAssignment.Models.FeedbackEnquiry

@{
    ViewData["Title"] = "Respond";
    Layout = "~/Views/Shared/_smanagerLayout.cshtml";
}

<h1>Respond</h1>

<h4>FeedbackEnquiry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Respond">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FeedbackEnquiryID" class="control-label"></label>
                <input asp-for="FeedbackEnquiryID" class="form-control" readonly />
                <span asp-validation-for="FeedbackEnquiryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberID" class="control-label"></label>
                <input asp-for="MemberID" class="form-control" readonly />
                <span asp-validation-for="MemberID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" readonly />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTimePosted" class="control-label"></label>
                <input asp-for="DateTimePosted" class="form-control" />
                <span asp-validation-for="DateTimePosted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Response" class="control-label"></label>
                <input asp-for="Response" class="form-control" />
                <span asp-validation-for="Response" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <p style="color:green">@ViewData["Success"]</p>
</div>

<div>
    <a asp-action="FeedbackReview">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
