@model NPParcelDeliveryServiceAssignment.Models.Parcel

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_smanagerLayout.cshtml";
}

<h1>Update</h1>

<h4>Parcel</h4>
<hr />
<div class="row">
    <form asp-controller="Delivery" asp-action="AssignParcels" method="post">
        <label for="idbox">@Html.DisplayNameFor(Parcel => Parcel.ParcelID)</label><br />
        <input type="text" id="idbox" name="idbox" />
        <button type="submit">Show Parcel under ID</button>
    </form>
    <p style="color:green">@TempData["MessageSuccess"]</p>
    <p style="color:red">@TempData["NotFound"]</p>
    <p style="color:red">@TempData["Error2"]</p>
    @{
        if ((bool)ViewData["Error"])
        {
            <p style="color:red">Sorry, but the Parcel ID input was not found</p>
        }
    }
    @{
        if ((bool)ViewData["ShowParcel"])
        {
            <form asp-action="UpdateParcel">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input type="hidden" asp-for="ParcelID" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="ItemDescription" class="control-label"></label>
                    <input asp-for="ItemDescription" class="form-control" disabled/>
                    <span asp-validation-for="ItemDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="SenderName" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="SenderTelNo" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="ReceiverName" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="ReceiverTelNo" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="DeliveryAddress" class="control-label"></label>
                    <input asp-for="DeliveryAddress" class="form-control" disabled/>
                    <span asp-validation-for="DeliveryAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="FromCity" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="FromCountry" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="ToCity" class="control-label"></label>
                    <input asp-for="ToCity" class="form-control" disabled />
                    <span asp-validation-for="ToCity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ToCountry" class="control-label"></label>
                    <input asp-for="ToCountry" class="form-control" disabled />
                    <span asp-validation-for="ToCountry" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ParcelWeight" class="control-label"></label>
                    <input asp-for="ParcelWeight" class="form-control" disabled />
                    <span asp-validation-for="ParcelWeight" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="DeliveryCharge" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="Currency" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="TargetDeliveryDate" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="DeliveryManID" class="control-label"></label>
                    <input asp-for="DeliveryManID" class="form-control" />
                    <span asp-validation-for="DeliveryManID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>
            </form>
        }
    }
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
