@model NPParcelDeliveryServiceAssignment.Models.Parcel

@{
    ViewData["Title"] = "CompleteDel";
    Layout = "~/Views/Shared/_dmanLayout.cshtml";
}

<div>
<h1>Are you sure you have delivered the package?</h1>
<form asp-action="CompleteDel">
    <button type="submit">I am sure.</button>
</form>
    <a asp-action="List">Back to List</a>
</div>