@model NPParcelDeliveryServiceAssignment.Models.Parcel

@{
    ViewData["Title"] = "FailedDel";
    Layout = "~/Views/Shared/_dmanLayout.cshtml";
}

<div>
    <h1>Confirm you have failed the delivery?</h1>
    <form asp-action="FailedDel">
        <button style="background-color:red; color:white;" type="submit">Confirm</button>
    </form>
    <a asp-action="List">Back to List</a>
</div>