@model NPParcelDeliveryServiceAssignment.Models.PaymentTransaction

@{
    ViewData["Title"] = "Payment Transaction";
    Layout = "~/Views/Shared/_fostaffLayout.cshtml";
}

<h1>Payment Transaction</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PaymentTransaction">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ParcelID" class="control-label"></label>
                <input asp-for="ParcelID" class="form-control" />
                <span asp-validation-for="ParcelID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmtTran" class="control-label"></label>
                <input asp-for="AmtTran" class="form-control" />
                <span asp-validation-for="AmtTran" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Currency" class="control-label"></label>
                <input asp-for="Currency" class="form-control" value="SGD"/>
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TranType" class="control-label"></label>
                <select asp-for="TranType" asp-items="@(new SelectList(ViewData["TranType"] as List<SelectListItem>,"Value","Text"))" class="form-select"></select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <input type="reset" value="Cancel" class="btn btn-primary" />
            </div>
            <br />
            <p style="color:green">@TempData["SuccessMsg"]</p>
            <p style="color:black">@Html.Raw((string)TempData["Details"])</p>
            <p style="color:red">@TempData["ErrorMsg"]</p>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
