@model NPParcelDeliveryServiceAssignment.Models.ShippingRate

@{
    ViewData["Title"] = "ShippingRateEdit";
    Layout = "~/Views/Shared/_amanagerLayout.cshtml";
}

<h1>ShippingRateEdit</h1>

<hr />
<div class="row">
    <p style="color:green">@TempData["UpdateSuccess"]</p>
    <div class="col-md-4">
        <form asp-action="ShippingRateEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="ShipRate" class="control-label"></label>
                <input asp-for="ShipRate" class="form-control" />
                <span asp-validation-for="ShipRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransitTime" class="control-label"></label>
                <input asp-for="TransitTime" class="form-control" />
                <span asp-validation-for="TransitTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ShowShippingRateInfo">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
