
@{
    ViewData["Title"] = "ShowShippingRateInfo";

    Layout = "~/Views/Shared/_amanagerLayout.cshtml";
 
}
<p>
    <a asp-action="CreateShippingRate">Create New</a>
</p>

<partial name="~/Views/Delivery/InfoUpdate.cshtml" model="@Model" />
