@model NPParcelDeliveryServiceAssignment.Models.Member
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibility -->
    <meta charset="utf-8">
    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width = device-width, initial-scale = 1" />
    <title>NP Book Rentals</title>
    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/css/intlTelInput.css">
</head>
<body>
    <div>
        <h1 class="text-center">Welcome to NPCS</h1>
        <h3 class="text-center">Register Account</h3>
    </div>
    <div class="container d-flex justify-content-center" id="loginContainer">
        <form asp-controller="Login" asp-action="Register" method="post">



            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">

                <label asp-for="Name" class="control-label"></label>

                <input asp-for="Name" class="form-control" />

                <span asp-validation-for="Name" class="text-danger"></span>

            </div>

            <div class="form-group">

                <label asp-for="Salutation" class="control-label"></label>

                <input asp-for="Salutation" class="form-control" />

                <span asp-validation-for="Salutation" class="text-danger"></span>

            </div>

            <div class="form-group">

                <label asp-for="TelNo" class="control-label"></label>

                <input asp-for="TelNo" class="form-control" />

                <span asp-validation-for="TelNo" class="text-danger"></span>

            </div>

            <div class="form-group">

                <label asp-for="EmailAddr" class="control-label"></label>

                <input asp-for="EmailAddr" class="form-control" />

                <span asp-validation-for="EmailAddr" class="text-danger"></span>

            </div>

            <div class="form-group">

                <label asp-for="Password" class="control-label"></label>

                <input asp-for="Password" class="form-control" />

                <span asp-validation-for="Password" class="text-danger"></span>

            </div>

            <div class="form-group">

                <label asp-for="BirthDate" class="control-label"></label>

                <input asp-for="BirthDate" class="form-control" />

                <span asp-validation-for="BirthDate" class="text-danger"></span>

            </div>

            <div class="form-group">

                <label asp-for="City" class="control-label"></label>

                <input asp-for="City" class="form-control" />

                <span asp-validation-for="City" class="text-danger"></span>

            </div>

            <div class="form-group">

                <label asp-for="Country" class="control-label"></label>

                <input asp-for="Country" class="form-control" />

                <span asp-validation-for="Country" class="text-danger"></span>

            </div>


            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
                <!--<div class="col d-flex justify-content-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                            <label class="form-check-label" for="form2Example31"> Remember me </label>
                        </div>
                </div>-->
                <!-- Simple link -->
                <!--<div class="col">
                    <a href="#!">Forgot password?</a>
                </div>-->
            </div>
            <!-- Submit button -->
            <div class="text-center">
                <button id="sbutton" type="button" class="btn btn-primary btn-block mb-4">Register</button>
            </div>
            <div class="text-center" id="ErrorMsg">@ViewData["ErrorMsg"]</div>
            <div class="text-center" style="color:green">@ViewData["smsg"]</div>
            <!-- Register buttons -->
            <!--<div class="text-center">
                <p>Not a member? <a href="#!">Register</a></p>
                <p>or sign up with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                </button>-->
        </form>
    </div>
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/js/intlTelInput.min.js"></script>
    <script>
        const input = document.querySelector("#TelNo");
        window.intlTelInput(input, {
            utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/js/utils.js",
        });
    </script>
    <script>
        let obj;
        function getsalt() {
            return new Promise(function (resolve, reject) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetSalt","Login")',
                    dataType: "json",
                    success: function (data) {
                        resolve(data)
                    },
                    error: function (err) {
                        reject(err)
                    }
                }
                );
            });
        }
        getsalt().then(function (data) {
            obj = data;
        }).catch(function (err) {
            window.reload();
        });
        function OnSubmit() {
            var salt = atob(atob(obj.saltString));
            var pass = $("#Password");
            var cryptoobj = CryptoJS.algo.SHA512.create();
            cryptoobj.update(pass.val(), 'utf-8');
            cryptoobj.update(CryptoJS.SHA512(salt), 'utf-8');
            var hash = cryptoobj.finalize().toString(CryptoJS.enc.Base64);

            // Set the hash value in the element
            pass.val(hash);
            return true;
        }
        $('#sbutton').click(function () {
            if (OnSubmit() == true) {
                var form = $('form');
                form.submit();
            }
        });
        $('#Country').keypress(function (event) {
            if (event.keyCode == 13) {
                if (OnSubmit() == true) {
                    var form = $('form');
                    form.submit();
                }
            }
        });
    </script>
</body>
</html>